


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    partner {
        width: 100%;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        margin-bottom: 30px;
    }

    .bannerleft {
        padding: 50px 0px 0px 0px;
        text-align: center;
    }

    .banner-center {
        padding: 90px 0% 90px;
        text-align: center;
    }

    .clients .col-md-2 {
        width: 25%;
        float: left;
        padding: 0px;
        line-height: 100px;
    }

    .clients .col-md-2 {
        padding: 0px 5px;
        max-width: 100px;
        max-height: 100px;
    }


    h1 {
        font-size: 28px;
        line-height: 30px;
    }


    table.desk {
        display: none;
    }

    table.mob {
        display: block;
    }

    table.mob td{
        width: 500px;
        text-align: center;
    }

}


@media only screen and (min-device-width : 480px) and (max-device-width : 767px) {

    .clients .col-md-2 {
        width: 25%;
        float: left;
        padding: 0px;
        line-height: 100px;
    }

    .clients .col-md-2 {
        padding: 0px 5px;
        max-width: 100px;
        max-height: 100px;
    }

    table.desk {
        display: none;
    }

    table.mob {
        display: block;
        margin: auto;
    }

    table.mob td{
        width: 500px;
        text-align: center;
    }

}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .clients .col-md-2 {
        width: 20%;
        float: left;
        padding: 0px;
        line-height: 150px;
    }

    .clients .col-md-2 {
        padding: 0px 5px;
        max-width: 150px;
        max-height: 150px;
    }
}