body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #424242;
    font-size: 15px;
    font-weight: 400;
}

.table-hover td {
    line-height: 40px!important;
}

p {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.7em;
    margin: 0 0 10px 0
}

h1, h2, h3, h4, h5, h6 {

    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #565656;
}


h1 {
    font-size: 36px;
    line-height: 38px;
}

h2 {
    font-size: 30px;
}

.testi-content p {
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

.testi-meta {
    margin-top: 10px;
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;
}

.slide {
    min-height: 190px;
}

.dates {
    background: rgb(245, 245, 245);
    min-height: 65px;
    margin-bottom: 20px;
    padding: 10px;
}

.date {
    float: left;
    width: 50%;
}

.book {
    float: right;
    width: 50%;
}

.button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    margin: 5px;
    padding: 0 22px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    background-color: #e37f26;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.summary {
    height: 180px;
    min-height: 180px;
    max-height: 180px;
}

.summary p {
    min-height: 76px;
    max-height: 76px;
    overflow: hidden;
    line-height: 25px !important;
}


.button:hover {
    background-color: #444;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}


.banner .button {
    margin: 5px 5px 5px 0px!important;
}

.banner .content-wrap  {
    padding: 0px;
}

.content-wrap {
    position: relative;
    padding: 40px 0;
}

.partners img{
    margin-bottom: 20px;
}

.hometext h1{
    text-align: center;
    padding: 10px 0px 0px;
    margin: 0px;
}


#ban {
    margin-bottom: 0px;
    background-position: center center;
    background-size: cover;
}

.bannerleft {
    padding: 60px 50px 0px 0px;
}

.banner-center {
    padding: 140px 10% 140px;
    text-align: center;
}


.upb_bg_overlay, .upb_bg_overlay_pattern {
    color: inherit;
    position: absolute;
    width: 100%;
    height: 100% !important;
    left: 0;
    top: 0;
}

.upb_bg_overlay {
    background-color: rgba(94,154,175,0.76);
}


.upb_bg_overlay_pattern {
    /*background-image: url(https://elabor8.com.au/wp-content/plugins/Ultimate_VC_Addons/modules/../assets/images/patterns/07.png);*/
    opacity: 0.8;
    background-attachment: scroll;
}


.banner [class^="col-"] {
    margin-bottom: 0px;
}

.banner-center h1, .banner-center p {
    color: #fff!important;
}
.banner-center h1 {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 15px;

}

.banner-center p {
    font-size: 35px;
    line-height: 45px;
    padding-bottom: 10px;
}

span.or {
    padding: 0px 30px;
}

span.call {
    font-size: 26px;
}

span.call a {
    color:#000;
}

#logo img {
    height: 81px;
    -webkit-transition: height .4s ease, opacity .3s ease;
    -o-transition: height .4s ease, opacity .3s ease;
    transition: height .4s ease, opacity .3s ease;
    margin-top: 10px;
}

#header-wrap {
    background-color: #efefef;
    min-height: 100px;
    border-radius: 0;
    border: 0;
}

li.submenu > a::after {
    content: "3";
    font-family: "ElegantIcons";
    font-size: .8em;
    margin-left: 5px;
}

.dark #copyrights {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    font-size: 15px;
}

#header.sticky-header #header-wrap {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #efefef;
    box-shadow: 0 0 0px rgba(0,0,0,0);
    position: relative;
}


.private-button .button.button-desc {
    padding: 25px 0px;
    font-size: 20px;
    height: auto;
    min-width: 250px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 30px;
}

.testimonial {
    background-color: transparent;
}

.courses {
    text-align: center;
}

.courses h3 {
    font-size: 17px;
    margin: 20px 10px 10px;
    padding: 0px;
    min-height: 40px;
    max-height: 40px;
    line-height: 22px;
}

.private-courses {
    text-align: left;
}

.private-courses h3 {
    font-size: 17px;
    margin: 0px 0px 0px;
    padding: 0px;
    min-height: 20px;
    max-height: 20px;
    line-height: 22px;
}



.course-detail h2 {
    text-align: left;
    margin: 0px;
    padding: 7px 0px 0px 0px;
}

.course-detail li {
    margin-left: 13px;
    padding-bottom: 10px;
    list-style: none;
}

.course-detail li:before {
    content: "✓"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
    color:#f18903;
}



.course-detail ul {
    margin-bottom: 0px;
}

img.cicon2 {
    width: 50px
}

.trainers {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}


@media (min-width: 992px) {
    .col-md-1-5 { width: 20%; }
    .col-md-2-5 { width: 40%; }
    .col-md-3-5 { width: 60%; }
    .col-md-4-5 { width: 80%; }
    .col-md-5-5 { width: 100%; }
}

@media (min-width: 1200px) {
    .col-lg-1-5 { width: 20%; }
    .col-lg-2-5 { width: 40%; }
    .col-lg-3-5 { width: 60%; }
    .col-lg-4-5 { width: 80%; }
    .col-lg-5-5 { width: 100%; }
}

/* Demo only, no need for this */

.show-grid [class^=col-] span,
.container-fluid .show-grid [class^=col-] {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    text-align: center;
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

[class^=col-] {
    margin-bottom: 30px;
}

/*#slider-arrow-left, #slider-arrow-right, .camera_prev, .camera_next, #slider .owl-prev, #slider .owl-next, .flex-prev, .flex-next, .nivo-prevNav, .nivo-nextNav, .slider-arrow-top-sm, .slider-arrow-bottom-sm {*/
    /*position: absolute;*/
    /*cursor: pointer;*/
    /*z-index: 10;*/
    /*top: 50%;*/
    /*left: 0;*/
    /*margin-top: -26px;*/
    /*background-color: transparent;*/
    /*width: 52px;*/
    /*height: 52px;*/
    /*border: 0;*/
    /*border-radius: 0 3px 3px 0;*/
    /*-webkit-transition: background-color .3s ease-in-out;*/
    /*-o-transition: background-color .3s ease-in-out;*/
    /*transition: background-color .3s ease-in-out;*/
/*}*/

#slider-arrow-left, #slider-arrow-right, .camera_prev, .camera_next, #slider .owl-prev, #slider .owl-next, .flex-prev, .flex-next, .nivo-prevNav, .nivo-nextNav, .slider-arrow-top-sm, .slider-arrow-bottom-sm {

    background-color: rgba(0, 0, 0, 0);
}

#slider-arrow-left i, #slider-arrow-right i, .camera_prev i, .camera_next i, #slider .owl-prev i, #slider .owl-next i, .flex-prev i, .flex-next i, .nivo-prevNav i, .nivo-nextNav i, .slider-arrow-top-sm i, .slider-arrow-bottom-sm i {
    line-height: 50px;
    color: #DDD;
    color: #444;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    font-size: 34px;
    text-align: center;
}

.flex-next i {
    margin-left: 28px;
    overflow: visible;
}

.flex-prev i {
    margin-left: -12px;
}

#slider-arrow-left:hover, #slider-arrow-right:hover, .camera_prev:hover, .camera_next:hover, #slider .owl-prev:hover, #slider .owl-next:hover, .flex-prev:hover, .flex-next:hover, .nivo-prevNav:hover, .nivo-nextNav:hover, .slider-arrow-top-sm:hover, .slider-arrow-bottom-sm:hover {
    background-color: transparent!important;
}


h1 > span:not(.nocolor), h2 > span:not(.nocolor), h3 > span:not(.nocolor), h4 > span:not(.nocolor), h5 > span:not(.nocolor), h6 > span:not(.nocolor) {
    color: #071c2c;
    font-family: 'Lato', sans-serif;
}

.partner {
    width: 31%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    margin-bottom: 30px;
    line-height: 100px;
}

.partner img {
    padding: 0px 5px;
}

.clients .col-md-2 {
    line-height: 150px;
}

/*.clients .col-md-2 img {*/
    /*max-width: 150px;*/
    /*max-height: 150px;*/
/*}*/


table tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}




table.mob{
    display: none;
}


.c-image {
    min-height: 140px;
    vertical-align: middle;
    line-height: 140px;
    max-height: 140px;
}


img.cicon {

    max-width: 220px;
    max-height: 220px;
}


.icon-angle-right::before {
    display: none;
}

.icon-angle-left::before {
    display: none;
}

.course-detail table {
    max-width: 673px;
}

.course-detail table td{
    width: 50%;
}

.testi-meta::before {
    content: none;
}